*.idea
# Created by https://www.gitignore.io/api/c

### LINUX ###
# Unnecessary Linux files
*~
.~*

### Database ###
*.dat

### THINGS I DONT WANNA PUSH ###
CMakeLists.txt
school/exam01/_task/Home Exam 1 for PG3400.docx
school/exam01/_task/Home Exam 1 for PG3400.pdf
exam01.zip

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
